.header-area {
  .main-menu {
    //Navbar
    .navbar {
      padding: 1rem 8rem;
      .navbar-brand {
        padding-left: 5rem;
        padding-right: 2rem;
      }
    }

    //Nav links
    .navbar-nav {
      .active a,
      a:hover {
        background: $gradient-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      .nav-item .nav-link {
        font-family: $the-font-family;
        text-transform: uppercase;
        font-weight: 600;
        padding: 1.2rem;
        color: $title-color;
      }
    }
  }
}

.navbar_fixed{
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0; right: 0;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}