.site-main .services-area {
  padding: 7rem 2rem;
  .services-title {
    padding: 0 14rem;
    h1 {
      font-size: 35px;
    }
  }
  .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: box-shadow 0.7s ease;
    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

// .site-main > .services-area .services
