.site-main .site-banner {
    .site-title {
        h3 {
            padding-top:35%;
            font-weight:500;
        }
        h3::after {
            content:"";
            height:2px;
            width: 18vw;
            background:black;
            display: inline-block;
            margin-left:5%;
            transform: translateY(-10px);
        }
        h1 {
            font-size: 3rem;;
        }
        h4 {
            font-size: 2rem;;
        }
    }
    .banner-image {
        padding:7rem 0;
        width: 90rem;
    }
}