// TODO: commonise the .primary-button content
.button {
  padding: 0.8rem 2.2rem;
  font-weight: 500;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.primary-button {
  background: $gradient-color;
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: $box-shadow;
}

.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.primary-button::after,
.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: $gradient-color;
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.secondary-button {
  background: white;
  background-clip: padding-box;
//   color: black;
  transition: background 0.6s ease;
}

.secondary-button:hover {
  background: $gradient-color;
//   background-clip: padding-box;
  color: whitesmoke;
  box-shadow: $box-shadow;
}
